<div class="section">
    <div class="container">
        <div class="columns">
            <% @artists.each do |artist|%>
                    <div class="is-block artistcard" style="float:left; width: 400px">
                        <a href="/artista/<%= artist.id %>">
                        <% 
                        if artist.photo.attached?
                        %>
                        <div class="profilePicture" style="background-image: url(<%= url_for(artist.photo) %>);"></div>
                        <% 
                        end
                        %>
                        <h1 class="title is-5"><%= artist.name %></h1>
                        </a>
                    </div>
            <% end %>
        </div>
    </div>
</div>