// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profilePicture{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #000;
}

.coverPicture {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    border: 1px solid #000;
}

#artistHeader{
    background: rgba(0,0,0,0.4);
}
#artistHeader h1{
    color: #fff;
}
.artistcard {
    text-align: center
}
.artistcard a, .artistcard a:hover  {
    background: none;
    color:none;
    cursor: default;
    text-decoration: none;
    margin: none;
    width: none;
}
.artistcard .profilePicture {
    margin: 0 auto;
    border: none;
    margin-bottom: 10px;
    transition: 0.2s linear all;
}
.artistcard:hover .profilePicture {
    margin: 0 auto;
    border: 20px solid #ccc;
    margin-bottom: 10px;
}
.songElement .icon{
    display: none;
    color: #fff;
}

.songElement:hover .icon{
    display: block;
}