<footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>MusicaAdventista</strong> por <a href="https://dahngeek.com">Daniel Xutuc</a>. Todos los derechos reservados © 2019.
        </p>
    </div>
</footer>