<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
        <img src="/logo.png" width="200" height="48">
        </a>
    
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
    
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
        <a class="navbar-item" href="/">
            Inicio
        </a>
    
        <a class="navbar-item" href="/artistas">
            Artistas
        </a>

        <a class="navbar-item" href="/albumes">
            Albumes
        </a>
    
        <!-- <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            More
            </a>
    
            <div class="navbar-dropdown">
            <a class="navbar-item">
                About
            </a>
            <a class="navbar-item">
                Jobs
            </a>
            <a class="navbar-item">
                Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
                Report an issue
            </a>
            </div>
        </div> -->
        </div>
    
        <div class="navbar-end">
        <div class="navbar-item">
                <div id="searchBox" class="field has-addons">
                    <form action="/buscar/">
                        <div class="columns is-gapless">
                            <div class="column">
                                    <div class="control">
                                            <input class="input" type="text" placeholder="buscar" name="term">
                                    </div>
                            </div>
                            <div class="column">
                                    <div class="control">
                                            <button type="submit" class="button is-info">
                                            Search
                                            </button>
                                        </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <% if admin_signed_in? %>
        <div class="navbar-item">
            <div class="buttons">
            <%= link_to('Logout', destroy_admin_session_path, method: :delete, :class=>"button is-light") %>
            </div>
        </div>
        <% end %>
        </div>
    </div>
    </nav>